@model IEnumerable<PaiAirlines.Models.Flight>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor contextHttp

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<script type="text/javascript">
    $(document).ready(function () {
        // Show / Hide the search form - change the button's text according to the visibility of the form
        $('#toggleButton').click(function () {
            var button = this
            $('#searchform').slideToggle('slow', function () {
                if ($('#searchform').is(':visible')) {
                    $("span", button).text("Hide search");
                } else {
                    $("span", button).text("Show search");
                }
            });
        });
    });
</script>
<button type="button" id="toggleButton"><span>Hide Search</span></button>
<form asp-action="Index" id="searchform">
    <div class="form-horizontal">
        <div class="col-md-10">
            <label>Origin</label>
            <select class="form-control" name="OrigId">
                <option value="0">Choose Origin</option>
                @{
                    List<City> lstCityOrig = (List<City>)ViewData["Citylist"];
                    foreach (var cItem in lstCityOrig)
                    {
                        <option value=@cItem.ID>@cItem.Name</option>
                    }
                }
            </select>
            <span class="text-danger"></span>
        </div>
    </div></br></br>
    <div class="form-horizontal">
        <div class="col-md-10">
            <label>Destination</label>
            <select class="form-control" name="CityId">
                <option value="0">Choose Destination</option>
                @{
                    List<City> lstCityDest = (List<City>)ViewData["Citylist"];
                    foreach (var cItem in lstCityDest)
                    {
                        <option value=@cItem.ID>@cItem.Name</option>
                    }
                }
            </select>
            <span class="text-danger"></span>
        </div>
    </div></br></br>
    <div class="form-horizontal">
        <div class="col-md-10">
            <label>Max Price</label>
            <input type="number" name="Max" />
            <span class="text-danger"></span>
        </div>
    </div>
    </br></br>
    <div class="form-horizontal">
        <div class="col-md-10">
            <label>Departure Date</label>
            <input type="date" name="FlightDate" placeholder="MM/DD/YYYY" />
            <span class="text-danger"></span>
        </div>
    </div>
    </br></br>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" asp-action="Index" asp-controller="Flights" class="btn btn-default" />
        </div>
    </div>
</form>



<p>
    <a class="badge badge-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Flight item in Model)
        {
            List<City> lstCity = (List<City>)ViewData["Citylist"];
            string Dest = "Test";
            string Orig = "Test";
            foreach (var cItem in lstCity)
            {
                if (item.OriginId == cItem.ID)
                {
                    Orig = cItem.Name;
                    break;
                }
            }
            foreach (var cItem in lstCity)
            {
                if (item.DestinationId == cItem.ID)
                {
                    Dest = cItem.Name;
                    break;
                }
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Orig
                </td>
                <td>
                    @Dest
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>

                    @if (contextHttp.HttpContext.Session.GetString("isAdmin") == true.ToString())
                    {
                        <a class="badge badge-warning" asp-action="Edit" asp-route-id="@item.ID">Edit</a> <label>|</label>
                        <a class="badge badge-warning" asp-action="Details" asp-route-id="@item.ID">Details</a> <label>|</label>
                        <a class="badge badge-warning" asp-action="Delete" asp-route-id="@item.ID">Delete</a> <label>|</label>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
