@model IEnumerable<PaiAirlines.Models.City>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="badge badge-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="badge badge-warning" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="badge badge-warning" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a class="badge badge-warning" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
