@model IEnumerable<PaiAirlines.Models.Flight>

@{
    ViewData["Title"] = "myFlights";
    List <KeyValuePair<Flight,int>> NumOfSeats = (List <KeyValuePair<Flight,int>>)ViewData["DistinctsFlights"];
}

<h2>My Orders</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNumber)
            </th>
            <th>
                Origin
            </th>
            <th>
                Destination
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Flight item in Model)
        {
            List<City> lstCityOrig = (List<City>)ViewData["CityList"];
            string Dest = "Test";
            string Orig = "Test";
            int Tickets = 0;
            int totalPrice = 0;
            foreach (var cItem in lstCityOrig)
            {
                if (item.OriginId == cItem.ID)
                {
                    Orig = cItem.Name;
                    break;
                }
            }
            foreach (var cItem in lstCityOrig)
            {
                if (item.DestinationId == cItem.ID)
                {
                    Dest = cItem.Name;
                    break;
                }
            }
            foreach (KeyValuePair<Flight, int> kvp in NumOfSeats)
            {
                if(kvp.Key.ID == item.ID)
                {
                    Tickets = kvp.Value;
                    totalPrice = kvp.Key.Price;
                    break;
                }
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Orig
                </td>
                <td>
                    @Dest
                </td>
                <td>
                    @Tickets
                    @*@Html.DisplayFor(modelItem => item.Seats)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @totalPrice
                </td>
            </tr>
        }
    </tbody>
</table>


@*<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Userid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlightID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeatsAmount)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatsAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
