@model PaiAirlines.Models.Aircraft

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Aircraft</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EconomySeats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EconomySeats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BussinessSeats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BussinessSeats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstSeats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstSeats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Range)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Range)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
