@model IEnumerable<PaiAirlines.Models.Aircraft>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EconomySeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BussinessSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Range)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EconomySeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BussinessSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Range)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
