@model IEnumerable<PaiAirlines.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<script type="text/javascript">
    $(document).ready(function () {
        // Show / Hide the search form - change the button's text according to the visibility of the form
        $('#toggleButton').click(function () {
            var button = this
            $('#searchform').slideToggle('slow', function () {
                if ($('#searchform').is(':visible')) {
                    $("span", button).text("Hide search");
                } else {
                    $("span", button).text("Show search");
                }
            });
        });
    });
</script>
<button type="button" id="toggleButton"><span>Hide Search</span></button>
<form asp-action="Index" id="searchform">
    <div class="form-horizontal">
        <div class="col-md-10">
            <label>First name</label>
            <input type="text" name="First" />
            <span class="text-danger"></span>
        </div>
    </div></br></br>
    <div class="form-horizontal">
        <div class="col-md-10">
            <label>Last Name</label>
            <input type="text" name="Last" />
            <span class="text-danger"></span>
        </div>
    </div></br></br>
    <div class="form-horizontal">
        <div class="col-md-10">
            <label>Email</label>
            <input type="email" name="Email" />
            <span class="text-danger"></span>
        </div>
    </div>
    </br></br>
    </br></br>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" asp-action="Index" asp-controller="Users" class="btn btn-default" />
        </div>
    </div>
</form>


<p>
    <a class="badge badge-primary" asp-action="Register">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                <a class="badge badge-warning" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="badge badge-warning" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a class="badge badge-warning" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
